{% extends 'base.html' %}

{% block main %}
{% load staticfiles %}
<script src="{% static 'js/recordlist.js' %}" type="text/javascript"></script> 
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- <script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.5.6/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>

<script src="https://cdn.jsdelivr.net/sweetalert2/6.5.6/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#create_inv_batch_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
      $( "#edit_inv_batch_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });
    </script>
</had>
<bdy>
  <div class="topnav navbar-expand-lg navbar-light bg-info">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto menu">
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </div> 
  <div class="topnav">
      <a class="nav-link active inv_menu" href="#inventory_list">Home</a>
    <a class="nav-link menu-btn inv_pending_menu" href="#to_approved_list">Approve-Operations</a>
    <div class="login-container">
      <a class="nav-link menu-btn" id="logout_session" href="#">Logout</a>      
    </div>
  </div>

<div class="container  menu-content" id="to_approved_list">  
  <div class="row">
      <div class="col-12">
          <h1 style="margin-top:-4px">Inventories waiting for approval</h1> 
      </div>
    </div>         
      
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Vendor</th>
        <th>Mrp</th>
        <th>Batch Number</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Operation</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="container inventory_list  menu-content" id="inventory_list">   
  <div class="row">
    <div class="col-6">
        <h1 style="margin-top:-4px">All Inventory Records</h1> 
    </div>
    <div class="col-6">
        <button class="btn btn-info add_inventory" style="float: right;" id="add_inventory">ADD INVENTORY</button>        
      </div>
  </div>      
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Vendor</th>
        <th>Mrp</th>
        <th>Batch Number</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="container update_inventory menu-content">
    <h2><u>Edit Inventory</u></h2>
  <div class="div">
    <div class="form-group oe_hidden"> 
      <label for="product_id" class="control-label">Id</label>
      <input type="text" class="form-control" id="id" name="id">
    </div>
      <div class="form-group"> 
        <label for="product_id" class="control-label">Product Id</label>
        <input type="number" class="form-control" id="product_id" name="product_id"  required>
      </div>
      <div class="form-group">
        <label for="full_name_id" class="control-label">Product Name</label>
        <input type="text" class="form-control" id="product_name" name="product_name" >
      </div>
      <div class="form-group">
        <label for="vendor" class="control-label">Vendor</label>
        <input type="text" class="form-control" id="vendor" name="vendor" required>
      </div>
      <div class="form-group">
        <label for="mrp" class="control-label">MRP</label>
        <input type="text" class="form-control" id="mrp" name="mrp" required>
      </div>
      <div class="form-group">
        <label for="batch_number" class="control-label">Batch Number</label>
        <input type="text" class="form-control" id="batch_number" name="batch_number" required>
      </div>
      <div class="form-group">
        <label for="quantity" class="control-label">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" required>
      </div> 
      <div class="form-group">
        <label for="batch_date" class="control-label">Batch Date</label>
        <input type="text" class="form-control" placeholder="YYYY-MM-DD" id="edit_inv_batch_date" name="batch_date" required>
      </div>
      <div class="form-group">
          <div>
            <button type="submit" class="btn btn-info edit_form_save_details" >Save</button>
          </div>
        </div>
  </div>
</div>

<div class="container add_inventory menu-content">
  <h2><u>Create Inventory</u></h2>
  <div class="form-group">
    <label for="product_id" class="control-label">Product Id</label>
    <input type="number" class="form-control" id="product_id" name="product_id"  required>
  </div>
  <div class="form-group">
    <label for="full_name_id" class="control-label">Product Name</label>
    <input type="text" class="form-control" id="product_name" name="product_name" >
  </div>
  <div class="form-group">
    <label for="vendor" class="control-label">Vendor</label>
    <input type="text" class="form-control" id="vendor" name="vendor" required>
  </div>
  <div class="form-group">
    <label for="mrp" class="control-label">MRP</label>
    <input type="text" class="form-control" id="mrp" name="mrp" required>
  </div>
  <div class="form-group">
    <label for="batch_number" class="control-label">Batch Number</label>
    <input type="text" class="form-control" id="batch_number" name="batch_number" required>
  </div>
  <div class="form-group">
    <label for="quantity" class="control-label">Quantity</label>
    <input type="number" class="form-control" id="quantity" name="quantity" required>
  </div> 
  <div class="form-group">
    <label for="batch_date" class="control-label">Batch Date</label>
    <input type="text" class="form-control"  placeholder="YYYY-MM-DD" id="create_inv_batch_date" name="batch_date">
  </div>
  <div class="form-group">
    <div>
        <button type="submit" class="btn btn-info create_inventory" >Save</button>
      </div>
  </div>
</div>

{% endblock %}